<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	    hm.src = "//hm.baidu.com/hm.js?59ab19f955790293d7f6b23cf63e9edb";
	  var s = document.getElementsByTagName("script")[0]; 
	        s.parentNode.insertBefore(hm, s);
		})();
</script>

