<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<script type='text/javascript'>
(function() {
    var c = document.createElement('script'); 
        c.type = 'text/javascript';
	    c.async = true;
	        c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/48545';
		    var h = document.getElementsByTagName('script')[0];
		        h.parentNode.insertBefore(c, h);
			})();
</script>
